In [1]:
import pandas as pd

In [2]:
dt = pd.read_clipboard()

In [3]:
dt

            Ho ten Khu vuc  A  B
0       Tran quyen     HCM  2  5
1  Nguyen thi thuy     HCM  3  4
2     Nguyen van a      DN  4  3
3         le thi B      HN  3  4

In [5]:
dt.select_dtypes(exclude='object').sum()

A    12
B    16
dtype: int64

In [6]:
dt.select_dtypes(exclude='object').sum(axis=0)

A    12
B    16
dtype: int64

In [7]:
dt.select_dtypes(exclude='object').sum(axis=1)

0    7
1    7
2    7
3    7
dtype: int64